<div class="user-info-wrapper flex flex-col lg:flex-row items-center justify-center w-dvw h-full md:flex-grow">

  <div class="CuentasTarjetasWrapper w-full lg:w-3/6 flex-col justify-center items-center h-full">
    <h1 class="w-full py-6 text-left font-bold text-3xl ml-5 sm:ml-0">
      DATOS DEL USUARIO: {{ authService.username.toUpperCase() }}
    </h1>
    <div class="cuentasBancariasWrapper w-full flex flex-col items-center justify-center">
      <div class="w-full pb-3 flex gap-3">
        <h2 class="text-left text-2xl font-semibold ml-5 sm:ml-0">Cuentas</h2>
      <app-button [contenidoButton]="'Crear Cuenta'"></app-button>
      </div>
      
        <div class="flex flex-col sm:flex-row p-6 gap-6 items-center justify-center w-full transition-all ease-in duration-100">
          <div *ngFor="let cuenta of cuentasBancarias">
            <app-cuentaCard
              [numeroCuenta]="cuenta.numeroCuenta"
              [saldo]="cuenta.saldo"
              [tipoCuenta]="cuenta.tipoCuenta"
              (click)="onCuentaSeleccionada(cuenta)">
            </app-cuentaCard>
          </div>
        </div>
      </div>
    
      <div class="tarjetasCreditoWrapper w-full h-full flex flex-col items-center justify-center">
        <div class="w-full pb-3 flex gap-3">
            <h2 class="pb-3 text-left text-2xl font-semibold">Tarjetas de crédito</h2>
            <app-button [contenidoButton]="'Crear tarjeta'"></app-button>
        </div>
        <div class="flex flex-col sm:flex-row p-6 gap-6 items-center justify-center w-full transition-all ease-in duration-100">
          <div *ngFor="let tarjeta of tarjetasCredito">
            <app-tarjetaCard
              [numeroTarjeta]="tarjeta.numeroTarjeta"
              [limiteCredito]="tarjeta.limiteCredito"
              [fechaVencimiento]="tarjeta.fechaVencimiento"
              [numeroCuenta]="tarjeta.cuentaBancaria.numeroCuenta"
              (click)="onTarjetaSeleccionada(tarjeta)">
            </app-tarjetaCard>
          </div>
        </div>
      </div>
      
  </div>
  
  <div class="TransaccionesWrapper w-full lg:w-3/6 flex flex-col items-center justify-center h-full">
    <h2 *ngIf="cuentaSeleccionada" class="w-full pb-3 text-center text-2xl font-semibold ml-5 sm:ml-0">Transacciones</h2>
    <div *ngIf="cuentaSeleccionada" class="w-full mb-6 flex flex-col items-center justify-center">
      <h3 class="w-full text-center font-bold ml-5 sm:ml-0 pb-6">Transacciones para cuenta {{ cuentaSeleccionada.numeroCuenta }}</h3>
      <div *ngIf="!transacciones[cuentaSeleccionada.id] || transacciones[cuentaSeleccionada.id].length <= 0">
          <p class="text-gray-400 text-center w-full">No hay transacciones para la cuenta {{cuentaSeleccionada.numeroCuenta}}</p>
      </div>
  
      <app-transacciones-table class="flex flex-col items-center justify-center"
        *ngIf="transacciones[cuentaSeleccionada.id] && transacciones[cuentaSeleccionada.id].length > 0"
        [transacciones]="transacciones[cuentaSeleccionada.id]"
        [cuentaNumero]="cuentaSeleccionada.numeroCuenta">
      </app-transacciones-table>
    </div>
  </div>
</div>